<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="Tendero/Menu/menu.css"rel="stylesheet">
      <link href="Tendero/TablaProductos/TablaProductos.css"rel="stylesheet">
      <link href="Tendero/insertarProducto/insertarProducto.css"rel="stylesheet">

    <title></title>
    <%- include("Tendero/Menu/menu.ejs")%>
  </head>
  <body>

    <%- include("Tendero/insertarProducto/insertarProducto.ejs")%>
    <div class="">


      <div class="flex-container wrap">
        <%- include("Tendero/TablaProductos/TablaProductos.ejs")%>
      </div>
    </div>
  </body>
</html>
