<div class="insertarProductos">
  <form action="/agregarProducto" method="post">
  <input type="text" id="nombreP" name="nombreP" placeholder="NOMBRE " required>
  <input type="text" id="precioP" name="precioP" placeholder="PRECIO " required>
  <input type="text" id= "cantidadP" name="cantidadP" placeholder="CANTIDAD" required>
  <input type="text" id= "descripcionP" name="descripcionP" placeholder="DESCRIPCIÓN " required>
  <label for="myfile">imagen</label>
  <input type="file" id="myfile" name="myfile" required>
  <button id="registrar">AGREGAR</button>
  </form>
    </div>
