<ul class="menu">
<li title="PERFIL"><a href="#" class="active perfil">PERFIL</a></li>
<li title="CONFIGURACIONES"><a href="#" class="configuracion">CONFIGURACIONES</a></li>
<li title="AYUDA"><a href="#" class="ayuda">AYUDA</a></li>
<li title="CERRAR SECCIÓN"><a href="#" class="cerrar">CERRAR SECCIÓN</a></li>
</ul>
